input{
    width: 70%;
}

hr{
    position: relative;
    top: 4px;
    border-radius: 20px;

    height: 1.5px;
    background: black;
}

select{
    width: 70%;

    option{
        color: black;
    }
}