
<div class="container mt-2">
    <h2>Sign Up</h2>
    <hr>

    <form [formGroup]="myForm">
        <div class="form-group">
            <label>User Name:</label>
            <input type="text" class="form-control" id="" 
            placeholder="Enter UserName" 
            formControlName="username">
            <div *ngIf="myForm.get('username').invalid && myForm.get('username').touched">Your User Name is not right length</div>
       </div>

       <div class="form-group">
            <label>Email:</label>
            <input type="email" class="form-control" id="" aria-describedby="emailHelp" 
            placeholder="user@email.com" 
            formControlName="email">
            <div *ngIf="myForm.get('email').invalid && myForm.get('email').touched">Your email does not look right</div>
        </div>
        

        <div class="form-group">
            <label>Full Name:</label>
            <input type="text" class="form-control" id="" 
            placeholder="Enter Full Name" 
            formControlName="fullname">
            <div *ngIf="myForm.get('fullname').invalid && myForm.get('fullname').touched">Please Enter</div>
       </div>
       <div class="form-group">
            <label>Employee Number:</label>
            <input type="text" class="form-control" id=""  
            placeholder="Enter Employee Number" 
            formControlName="employeNo">
            <div *ngIf="myForm.get('employeNo').invalid && myForm.get('employeNo').touched">Your Employ number is not correct</div>
        </div>
        <div class="form-group">
            <label>Phone Number:</label>
            <input type="text" class="form-control" id=""  
            placeholder="Enter Phone Number" 
            formControlName="phoneno">
            <div *ngIf="myForm.get('phoneno').invalid && myForm.get('phoneno').touched">Enter Valid PhonoNO</div>
        </div>

        <div class="form-group">
            <label>Designation:</label>
            <Select class="form-control" (change)="onSelectedDesignation($event.target.value)">
                <option>Software Engineer</option>
                <option>Mechanical Engineer</option>
                <option>Electrical Engineer</option>
            </Select>
        </div>
        <div class="form-group">
            <label>Department:</label>
            <Select class="form-control" (change)="onSelectedDepartment($event.target.value)">
                <option>Software Development</option>
                <option>Mechanical Development</option>
                <option>Electrical Development</option>
            </Select>
        </div>
        <div class="form-group">
            <label>Reporting To:</label>
            <Select class="form-control">
                <option value="">User1</option>
            </Select>
        </div>

        <div class="form-group">
            <label>Password:</label>
            <input type="text" class="form-control" id="" 
            placeholder="Password" 
            formControlName="password">
            <div *ngIf="myForm.get('password').invalid && passwordForm.touched">Your password does not look right</div>
            

        </div>
    </form>
    
    <button class="btn m-2 mt-4" (click)="onRegister()">Register</button>
    <hr>

</div>