label{
    font-size: medium;
}

input{
    width: 70%;
}

hr{
    border-radius: 20px;
    height: 1.5px;
    background: black;
}

select{
    width: 70%;
}


.mat-dialog-container{
    background: #1e1e2e;
}
