<div class="content">
   <div class="row">
    <div class="col">
        <h3>Create New User Group</h3>
    </div>
    <hr>
    
   </div>
    <form>
        <div class="form-group">
            <label>User Group Id:</label>
            <input type="text" class="form-control" id="" placeholder="">
        </div>
        <div class="form-group">
            <label>User Group Name:</label>
            <input type="text" class="form-control" id="" placeholder="">
        </div>
        <div class="form-group">
            <label>User Group Id:</label>
            <input type="text" class="form-control" id="" placeholder="">
        </div>

        <div class="form-group">
            <label>Security Template:</label>
            <Select class="form-control">
                <option value="">Option 1</option>
            </Select>
        </div>

        <div class="form-group">
            <label>Role:</label>
            <Select class="form-control">
                <option value="">Process Owner</option>
            </Select>
        </div>

        <div class="form-group">
            <input type="checkbox" name="Active" value="Bike">
        </div>

        <div class="group-btn">
            <button class=" btn btn-fill btn-danger m-2" type="submit">Create New Group</button>
            <button class=" btn btn-fill btn-danger m-2" type="submit">Reset</button>

        </div>
    </form>
</div>