label{
    font-size: medium;
    color: #ff0000e0
}

input{
    width: 70%;
}

hr{
    border-radius: 20px;
    height: 1.5px;
    background: black;
}

select{
    width: 70%;
    option{
        color: black;
    }
}

.invalid{
    margin-top: 2px;
    color: #fff;
}