<div class="content">
    <h3>Create New User Group</h3>
    <hr>

    <form>
        <div class="form-group">
            <label>User Group Id:</label>
            <input type="text" class="form-control" id="" placeholder="">
        </div>
        <div class="form-group">
            <label>User Group Name:</label>
            <input type="text" class="form-control" id="" placeholder="">
        </div>
        <div class="form-group">
            <label>User Group Id:</label>
            <input type="text" class="form-control" id="" placeholder="">
        </div>

        <div class="form-group">
            <label>Security Template:</label>
            <Select class="form-control">
                <option value="">Option 1</option>
            </Select>
        </div>

        <div class="form-group">
            <label>Role:</label>
            <Select class="form-control">
                <option value="">Process Owner</option>
            </Select>
        </div>
    </form>
</div>