<div class="container">
    <h2>Change Password</h2>
    <hr>
    <form>
        <div class="form-group">
            <label>Enter Code:</label>
            <input type="password" class="form-control" id="" placeholder="Enter Old Password" [(ngModel)]='oldpassword'
            [ngClass]="{'is-invalid':confirmold==0 }">
            <div class="invalid-feedback">Please provide a correct Code.</div>
        </div>
        <div class="form-group">
            <label>New Password:</label>
            <input type="password" class="form-control" id="" placeholder="Enter New Password" [(ngModel)]='newpassword'>
        </div>
        <div class="form-group">
            <label>Confirm Password:</label>
            <input type="password" class="form-control" id="" placeholder="Confirm Password" [(ngModel)]='confirmpassword'
            [ngClass]="{'is-invalid':confirmp==0 }">
            <div class="invalid-feedback">Please confirm correct password.</div>
        </div>
    </form>
    <div class="div"></div>

    <button class=" btn btn-fill btn-danger mr-2" (click)="onChangePassword()">Change Password</button>
    <hr>
</div>
