<div class="container">
    <h2>Change Password</h2>
    <hr>
    <form [formGroup]="myFormChange">
        <div class="form-group">
            <label>Enter Code:</label>
            <input type="number" class="form-control" id="" placeholder="Enter Code" formControlName="code">
            <div *ngIf="myFormChange.get('code').invalid && Code.touched">Your password does not look right</div>
        </div>
        <div class="form-group">
            <label>New Password:</label>
            <input type="password" class="form-control" id="" placeholder="Enter New Password" formControlName="password">
            <div *ngIf="myFormChange.get('password').invalid && passwordForm.touched">Your password does not look right</div>
        </div>
        <div class="form-group">
            <label>Confirm Password:</label>
            <input type="password" class="form-control" id="" placeholder="Confirm Password" 
            [ngClass]="{'is-invalid':confirmp==0 }" formControlName="passwordConfirm">
            <div class="invalid-feedback">Please confirm correct password.</div>
            <div *ngIf="myFormChange.get('passwordConfirm').invalid && passwordFormConfirm.touched">Your password does not look right</div>
        </div>
    </form>
    <div class="div"></div>

    <button class=" btn btn-fill btn-danger mr-2" (click)="onChangePassword()">Change Password</button>
    <hr>
</div>
