label{

    font-weight: 600;
}

input{
    width: 70%;
}

hr{
    border-radius: 20px;
    height: 1.5px;
    background: black;
}

select{
    width: 70%;

    option{
        color: black;
    }
}
