<div class="content">
    <div class="row">
        <div class="col"><h3>Create New User</h3></div>
        <div class="col"><button class="btn" (click)="onClose()">close</button></div>
    </div>
    <hr>
    <form>
        <div class="form-group">
            <label>User Name:</label>
            <input type="text" class="form-control" id="" placeholder="">
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input type="password" class="form-control" id="" placeholder="">
        </div>
        <div class="form-group">
            <label>Full Name:</label>
            <input type="text" class="form-control" id="" placeholder="">
        </div>
        <div class="form-group">
            <label>Email:</label>
            <input type="email" class="form-control" id="" placeholder="">
        </div>
        <div class="form-group">
            <label>Employee Number:</label>
            <input type="text" class="form-control" id="" placeholder="">
        </div>
    </form>
</div>
