<div class="container mt-3">
    <h2>Login</h2>
    <hr>
    <form>
       <div class="form-group">
            <label>User Name:</label>
            <input type="text" class="form-control" id="" aria-describedby="emailHelp" placeholder="Enter UserName" [(ngModel)]='name'
            [ngClass]="{'is-invalid':correctname==1 }">
            <div class="invalid-feedback">Please provide a correct password.</div>
       </div>
       <div class="form-group">
            <label>Password:</label>
            <input type="password" class="form-control" id="" placeholder="Password" [(ngModel)]='password'
            [ngClass]="{'is-invalid':correctp==1 }">
            <div class="invalid-feedback">Please provide a correct password.</div>
        </div>
    </form>

    <button class="btn mt-2" (click)="onLogin()">Login</button><br>
    <a routerLink="/ForgotPassword">Forgot Password?</a>

    <hr>
    <label>New User</label><br>
    <button class="btn m-2" (click)="onNewUser()">Register</button>
</div>
