
<div class="content">
  <div class=" row">
    <div class=" col-md-8">
      <div class=" card">
        <div class=" card-header"><h5 class=" title">Manage Groups</h5></div>
        <div class=" card-body">
          <form>
          
          </form>
        </div>
        <div class=" card-footer">
          <button class=" btn btn-fill btn-danger" type="submit">Add</button>
          <button class=" btn btn-fill btn-danger" type="submit">Update</button>
          <button class=" btn btn-fill btn-danger" type="submit">Delete</button>
        </div>
      </div>
    </div>

  </div>
</div>

