
<div class="content">
  <div class=" row">
    <div class=" col-md-8">
      <div class=" card">
        <div class=" card-header">
          <div class="row">
            <div class="col"><h2 class=" title m-2">Manage Groups</h2></div>
            <div class="col">
              <div class="input-group">
                <div class="form-outline">
                  <input type="search" id="form1" class="form-control mt-2" />
                </div>
                <button type="button m-1" class="btn" style="height: 40px; margin-top: 7px;">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </div>
          
        </div>

        <div class=" card-body">
          
          <!-- Table for Groups -->

          <Table class="table">
            <thead>
              <tr><th colspan="5" class="text-center"><h3>Manage User Groups</h3></th></tr>
            </thead>
            
            <tbody>
              <tr *ngFor="let row of listgroups">
                <th><input type="checkbox" class="" (change)="onSelectChange($event,row.groupId)" [value]="row.groupId"></th>
                <th>{{row.groupId}}</th>
                <th>{{row.userGroupName}}</th>
                <th>{{row.role}}</th>
                <th>{{row.active}}</th>
              </tr>
            </tbody>
            
          </Table>

        </div>
        <div class=" card-footer">
          <button class=" btn btn-fill btn-danger m-2" type="submit" (click)="onAddGroup()">Add</button>
          <button class=" btn btn-fill btn-danger m-2" type="submit" >Update</button>
          <button class=" btn btn-fill btn-danger m-2" type="submit" (click)="onDeleteGroup()">Delete</button>
        </div>
      </div>
    </div>

  </div>
</div>

